<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peg6.peg6backend.mapper.ReservationMapper">
    <select id="getReservationByUserId" resultType="com.peg6.peg6backend.entity.Reservation">
        select * from reservation where userId=#{userId} or memberList like #{userIdString}
    </select>
    <select id="getReservationByReserveId" resultType="com.peg6.peg6backend.entity.Reservation">
        select * from reservation where reserveId = #{reserveId}
    </select>
    <select id="getAllReservation" resultType="com.peg6.peg6backend.entity.Reservation">
        select * from reservation
    </select>
    <insert id="makeReservationByUserId">
        insert into reservation (userId, roomId, memberNum, memberList, startTime, endTime) values (#{userId}, #{roomId}, #{memberNum}, #{memberList}, #{startTime}, #{endTime})
    </insert>
    <update id="updateReservationByUserId">
        UPDATE reservation set userId=#{userId}, roomId=#{roomId}, memberNum=#{memberNum}, memberList=#{memberList}, startTime=#{startTime}, endTime=#{endTime} where reserveId=#{reserveId}
    </update>
    <delete id="deleteReservationByReserveId">
        delete from reservation where reserveId=#{reserveId}
    </delete>
</mapper>